
body {
  height:100%;
  width:100%;
}

h3 {
  align-self: center;
  text-align: center;
  padding-bottom: 1%;
}

canvas {
  width:90%;
  height:90%;
  align-self: center;
  display: inline-block;
  vertical-align: middle;
  background-color: #999999;
}

.up {
  width:4%;
  height:50%;
  display: inline-block;
  vertical-align: middle;
}

.down {
  width:4%;
  height:50%;
  display: inline-block;
  vertical-align: middle;
}
