
* {
  margin: 0px;
}

body {
  height:100%;
  width:100%;
  touch-action: none;
}

h3 {
  align-self: center;
  text-align: eight:10%;
  padding-top: 1%;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #999999;
}

.up {
  position: absolute;
}

.down {
  position: absolute;
}
